.banner{
    box-sizing: border-box;
    background-image: url(../../assets/img/backgroud.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 920px;
    border-bottom: 10px solid #000;
}

.banner .box{
    display: flex;
    flex-direction: column;
    width: 1300px;
}

.banner .navButton{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-right: 580px;
}

.banner .navFoto{
    display: flex;
    margin-left: 800px;
}

.banner .navTitle{
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
}