.banner{
    box-sizing: border-box;
    background-image: url(../../assets/img/backgroud.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 920px;
    border-bottom: 10px solid #000;

    justify-content: center;
}

.banner .box{
    display: flex;
    flex-direction: column;
    width: 1300px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
    margin-top: 500px;
}