.projects_section{
    background-color: #1D4962;

    width: 100%;
    height: 600px;

    justify-content: center;
}

.projects_section .projects_container{
    display: flex;

    width: 80%;
    height: 400px;

    align-items: center;
    justify-content: space-between;

    margin-left: 10%;
}

.projects_section .project{
    width: 400px;
    height: 400px;

    box-shadow: 5px 5px #fff;
}