.skills-dev{
    display: flex;
    font-size: 25px;
    color: #fff;

    align-items: center;
}

.skills-dev .icon{
    margin-right: 25px;
}

.skills-dev .progtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills-dev .title{
    margin-bottom: 15px;
}