.statistics{
    box-sizing: border-box;
    background-color: #5A90B2;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 920px;
    border-bottom: 10px solid #000;
}

.statistics .html_stat{
    display: flex;
    flex-direction: column;
    width: 300px;

    padding-top: 80px;
    margin-left: 100px;
}

.statistics .html_icone{
    height: 50px;
    width: 50px;
}


.statistics .html_text{
    display: flex;
    margin-left: 160px;
    justify-self: center;
}

.statistics .html_progress_bar{
    display: flex;
    margin-left: 160px;
}