.statistics{
    box-sizing: border-box;
    background-color: #5A90B2;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 920px;
    border-bottom: 10px solid #000;

}

.statistics .html_stat{
    height: 150px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.statistics .html_progress_bar{
    display: flex;
    margin-top: 50px;
}

.statistics .html_text{
    display: flex;
    height: 40px;
    width: 40px;
    margin-left: 30px;
}