.timeline{
    margin-top: 250px;

    background-color: #fff;
    height: 10px;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.pointime{
    background-color: #000826;

    width: 100px;
    height: 150px;
    margin-left: 50px;
    border-radius: 50%;

    transition: 0.3s;
}

.text_pointime{
    color: #fff;
    
    opacity: 0;
    visibility: hidden;

    transition: 0.3s;
}

.img_pontime{
    border-radius: 50%;
    width: 100px;
    height: 100px;

    transition: 0.3s;
}

.pointime:hover{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border-radius: 10%;
}

.pointime:hover .text_pointime{
    opacity: 1;
    visibility: visible;
}

.pointime:hover .img_pontime{
    width: 100%;
    height: 200px;
    border-radius: 10%;
}