h1{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 450px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 80px;
}