.wrapper-skill{
    display: flex;
    flex-wrap: wrap;

    max-width: 1250px;

    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skills-dev{
    width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill .skills-dev:nth-child(odd) {
    margin-right: 300px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}